/* font */
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap");

/* General styles */
* {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-tint2: #fef9c3;
  --primary-tint1: #fde047;
  --primary: #ffcc00;
  --primary-shade1: #eab308;

  --secondary-tint1: #0ea5e9;
  --secondary: #0065b2;
  --secondary-shade1: #075985;
}
body {
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url("./assets/Designer.png");
  color: #fff;
  background-size: cover;
}
button {
  text-transform: uppercase;
  background-color: var(--primary);
  border: 3px solid var(--secondary);
  padding: 2px 12px;
  width: 250px;
  height: 36px;
  transition: all 0.2s;
  font-weight: bold;
  font-size: 1rem;
}
button:hover {
  transform: scale(1.03);
}
button:active {
  transform: scale(1);
}
input,
button,
body {
  font-family: "VT323", monospace;
}

/*................................. */
.brand-logo {
  height: 36px;
  width: auto;
  position: absolute;
  left: 10px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header,
footer {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  background: #000000b9;
  -webkit-backdrop-filter: blur(10px);
  text-transform: uppercase;
  color: var(--primary-shade1);
  font-size: 2rem;
}
footer {
  font-size: 16px;
}
/* ........................ */
.search-input {
  background-color: var(--primary-tint2);
  padding: 2px 4px;
  min-width: 250px;
  height: 36px;
}
.search-input::placeholder {
  color: #999;
}
.search-input:focus {
  outline: 2px solid var(--secondary-tint1);
}

.container {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  margin: 84px auto;
  font-size: 24px;
}
/* .container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
} */
#sprite-container {
  width: 184px;
  height: 164px;
  border: 4px solid var(--primary-shade1);
  background-color: #88888846;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
}
.pokemon-ball {
  width: 64px;
}

/* table styling */
/* Style for the entire table */

#pokemon-table {
  border-collapse: collapse; /* Collapse borders between cells */
  width: 500px;
}

/* Style for table rows */
#pokemon-table tr {
  border-bottom: 1px solid #dddddd24; /* Add a bottom border to separate rows */
}

/* Style for table cells */
#pokemon-table td {
  padding: 4px 8px 0 24px; /* Add padding to cells */
  background: #88888846;
  backdrop-filter: blur(5px);
}
.pokemon-label {
  text-align: left;
}

/* Style for Pokemon info spans */
.pokemon-info {
  font-weight: bold;
  color: var(--secondary-tint1); /* Change text color */
  align-items: left;
}

.type {
  padding: 4px 12px;
  background-color: var(--secondary-tint1);
  margin-right: 4px;
}

@media (max-width: 650px) {
  .header {
    font-size: 20px;
  }
  button {
    width: 86px;
  }
  #pokemon-table {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .brand-logo {
    height: 20px;
  }
  .search-input {
    min-width: 184px;
  }
  .header {
    font-size: 16px;
  }
  .container {
    font-size: 18px;
  }
}

@media (max-width: 372px) {
  .search-input {
    min-width: 164px;
  }
  button {
    width: 64px;
  }
  .header {
    justify-content: end;
    padding-right: 12px;
  }
}

@media (max-width: 325px) {
  .search-input {
    min-width: 144px;
  }
  .container {
    padding: 1.2rem 0;
  }
  button {
    width: 64px;
  }
  .header {
    justify-content: end;
    padding-right: 12px;
  }
}
